package pages

import (
	"github.com/laenen-partners/dsx/cmd/showcase/internal/layouts"
	"github.com/laenen-partners/dsx/ui/markdown"
)

templ Home(readmeContent string) {
	@layouts.Showcase(layouts.ShowcaseProps{
		Title:       "webx showcase",
		Description: "Go web framework with DaisyUI and Datastar",
		CurrentPath: "/",
	}) {
		@markdown.Markdown(markdown.Props{
			Content: readmeContent,
		})
	}
}
